.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif; color: #000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin-bottom: 100px;
  background-color: #f2f2f2;
  z-index: -2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: auto;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header-link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -2;
  background-color: #2f80ed;
}

.description {
  margin-bottom: 100px;
}

.two-columns {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin-bottom: 100px;
}

.section-title, .section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__heading, .table__text {
  margin: 0;
  margin-bottom: 20px;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  z-index: -2;
}

.feynman__title {
  width: 648px;
  margin-bottom: 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__image {
  display: block;
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.kaufman {
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.kaufman_theme_dark {
  background-color: #1f1f1f;
  z-index: -2;
}

.section-title_theme_dark, .section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;        
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  color: white;
  display: flex;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer-author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 16px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

